ul {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
}
li {
  display: inline-block;
  height: 150px;
  width:  150px;
  margin: 5px;
  list-style-type: none;
  float: left;
}

.main-picture {
  height: 150px;
  width:  150px;
  overflow:hidden;
}

.main-picture video {
  height: 150px;
  width:  200px;
}

.ad {
  background-color: aliceblue;
  width: 130px;
  height: 130px;
  padding: 10px;
}

img {
  height: 150px;
  width:  150px;
}

canvas {
  height: 150px;
  width:  150px;
}

body {
  background: lightyellow;
  font-family: courier, monospace;
}

a.social:visited {
  color: #FFF;
}

a.twitter:visited {
  color: #2D6491;
}

.social {
  padding: 10px;
  margin: 20px;
}

.socialshares {
  text-align: center;
  margin: 20px;
  float: left;
}

footer section {
  width: 100%;
  float: left;
}

.facebook {
  background-color: #3C5A98;
  color: #FFF;
}

.twitter {
  background-color: #DBF7F8;
  color: #2D6491;
}

.google {
  background-color: #D14836;
  color: #FFF;
}
