<head>
  <title>Working Wall</title>
</head>

<body>
  <header>
    <h1>Here are some folk working on interesting stuff!</h1>
    <p>Or maybe just some cats&hellip;</p>
    <p>Accept the request to use your camera. Click on your picture to take a snapshot</p>
  </header>
  {{> pictures}}
  <footer>
    <section class="socialshares">
      Share: 
      <a class="social facebook" target="_blank"
        href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fworkingwall.io">Facebook</a>
      <a class="social twitter" target="_blank"
        href="https://twitter.com/intent/tweet?text=Working+Wall&amp;url=http%3A%2F%2Fworkingwall.io">Twitter</a>
      <a class="social google" target="_blank"
        href="https://plus.google.com/share?url=http%3A%2F%2Fworkingwall.io">G+</a>
    </section>
    <section>
      Made by <a href="http://twitter.com/tosbourn">Toby</a> | Inspired by <a href="http://www.tiiny.com">Tiiny</a> | <a href="https://github.com/tosbourn/working-wall">Source Code</a> | Related <a href="http://tosbourn.com/making-app-just-hour-meteor-heroku/">Blog Post</a>
    </section>
  </footer>
</body>

<template name="pictures">
  <ul>
    <li class="main-picture">
      <video autoplay height="150px"></video>
      <canvas style="display:none;"></canvas>
    </li>
    {{#each pictures}}
      <li><img src="{{url}}" /></li>
    {{/each}}
    <li class="ad">
      Follow <a href="http://twitter.com/tosbourn">@tosbourn</a> on Twitter
    </li>
  </ul>
</template>
